header {
  display: inline-flex;
  border-bottom: 20px solid #019FE9;
  width: 100%;
  padding: 0.5em 0;
}
header > h1{
  font-size: 2.5em;
  font-weight: lighter;
  font-family: 'Raleway';
  margin: 0 0.5em;
  width: 200px;
}
header > .searchBox{
  width: 80%;
}
header > .searchBox > input{
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.center .container{
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -5%;
  text-align: center;
  position: fixed;
  font-family: 'Raleway';
}
.center .container h1{
  padding-bottom: 0.3em;
  font-size: 5.0em;
}

.searchBox > input{
  padding: 1em;
  width: 350px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: 0.8em 'Source Sans Pro';
  background: #FFFFFF;
  border-color: #D3D3D3;
  margin-right: 0.4em;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
/* Removes annoying icon on input */
.searchBox > input::-ms-clear {
  display: none;
}
.searchBox > .fa{
  position: relative;
  top: 15px;
  left: -30px;
  color: #D3D3D3;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}

.btn{
  background-color: #019FE9;
  color: white;
  font-family: 'Raleway';
  padding: 0.85em;
  font-size: 1em;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}

.search.btn{
  margin-left: -25px; /* Same as the left position of the button */
  vertical-align: bottom;
}

.searchBox, .btn{
  display: inline-flex;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.7;
}

input:hover, input:focus{
  border-color: #019FE9;
}

input:focus + .fa{
  color: #019FE9;
}

.flash {
  background-color: #FFCDD2;
  margin: 1em;
  padding: 0.75em;
  border: 1px solid #E57373;
  border-radius: 3px;
  color: #B71C1C;
  font-family: 'Source Sans Pro';
  font-size: 1.2em;
}

svg{
  display: block;
  margin: 0 auto;
  padding: 2em;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 50;
  padding: 0.2em;
  font: 0.95em 'Source Sans Pro';
  background: lightsteelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
